@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: #333;
  color: #fff;
}

.dark .card,
.dark .list-group-item {
  background-color: #444;
  color: #fff;
}

.dark .form-control {
  background-color: #555;
  color: #fff;
  border-color: #666;
}

.dark .btn-primary {
  background-color: #0056b3;
  border-color: #004085;
}

.dark .btn-secondary {
  background-color: #5a6268;
  border-color: #545b62;
}